<!--<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header> -->

<ion-content>
  <div> 
    <object type="text/html" data="http://nirojbista.com.np" width="360px" height="600px">
    </object>
 </div>
</ion-content>
